/**
 * The scale.
 */

// Base
$g-font-size: 14;

// Decrease
$g-font-size-small: $g-font-size - 1;

$g-font-size-x-small: $g-font-size - 2;

$g-font-size-2x-small: $g-font-size - 3;


// Increase
$g-font-size-large: $g-font-size + 2;

$g-font-size-x-large: $g-font-size + 4;


$g-spacing: 16;

// Decrease
$g-spacing-small: floor($g-spacing * 0.75); // 12

$g-spacing-x-small: floor($g-spacing * 0.5); // 8

$g-spacing-2x-small: floor($g-spacing * 0.25); // 8


// Increase
$g-spacing-large: ceil($g-spacing * 1.25); // 20

$g-spacing-x-large: ceil($g-spacing * 1.5); // 24


// Font Weight
$g-font-weight-bold: 700;

$g-font-weight-semibold: 600;

$g-font-weight: 400;

$g-font-weight-light: 300;


// Colour

$g-color-white: #fff;

$g-color-text: #4a4a4a;

$g-color-border: #d2d0d2;

$g-color-success: #7ed321;

$g-color-blue: #4a90e2;

// Colour: Grey
$g-color-grey-100: #f5f5f5;

$g-color-grey-200: #eeeeee;

$g-color-grey-300: #e0e0e0;

// Form elements

$g-form-radius: 5px;
